@charset "UTF-8";
body {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 400;
  color: #221d1f; }

.h-logo {
  width: 200px; }

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0; }

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.6px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center; }

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  margin-bottom: 32px;
  text-align: center; }

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -.8px;
  margin-top: 16px;
  text-align: center; }

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -2.2px; }

  h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -.8px; } }
section {
  padding: 48px 10%; }

.about {
  background-color: #F4F5F8; }

#hacktoberfest nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 36px; }

nav.navbar-light .navbar-nav .nav-link {
  color: #221d1f;
  padding-left: 10px;
  padding-right: 10px; }

#hacktoberfest nav a.nav-link:hover {
  color: #ef5ba1; }

@media (min-width: 992px) {
  nav.navbar {
    padding-right: 200px;
    padding-left: 100px; }

  nav.navbar-light .navbar-nav .nav-link {
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 -4px 0 -1px #fff; }

  #hacktoberfest nav a.nav-link:hover {
    border-bottom: 1px solid #ef5ba1;
    box-shadow: inset 0 -4px 0 -1px #ef5ba1; } }
.h-image {
  width: 100%; }

.participate {
  margin-top: 24px;
  background-color: #F05CA1;
  padding: 20px 32px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  display: inline-block;
  font-weight: 700;
  border: none; }

.participate:hover {
  background-color: #f489bc;
  color: #fff;
  text-decoration: none;
  border: none; }

.media img {
  width: 75px; }

.location {
  position: relative;
  mix-width: 1024px;
  margin: auto; }
  .location .live-map-container .live-map {
    height: 500px;
    width: 100%;
    border: 0;
    padding: 0; }
  .location .map {
    position: absolute;
    height: 180px;
    width: 500px;
    font-size: 15px;
    line-height: 25px;
    padding: 20px;
    margin: 5px;
    background-color: white;
    box-shadow: 17px 19px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 5px; }
    .location .map-container {
      position: relative;
      display: flex; }
    .location .map-address {
      flex: 1 1 80%;
      border-right: 1px solid #ef5ba1; }
    .location .map-direction {
      position: relative;
      flex: 1 1 20%;
      text-align: center;
      align-self: center; }
      .location .map-direction-logo {
        height: 70px;
        background: url("../img/direction.svg") no-repeat;
        background-size: 50px;
        background-position: 30px 20px; }
  .location .location-heading {
    background-color: #fff;
    height: 90px;
    line-height: 90px;
    text-align: center; }
    .location .location-heading-text {
      font-size: 36px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase; }

.about a {
  color: #221d1f;
  border-bottom: 1px solid #221d1f;
  font-weight: 700; }

.about a:hover {
  color: #f489bc;
  border-color: #f489bc;
  text-decoration: none; }

.footer {
  background-color: #221d1f;
  color: #fff;
  padding: 16px;
  text-align: center; }

.footer img {
  width: 120px; }
