<section id="about">
    <div class="about-heading">
        <div class="about-heading-text">ABOUT</div>
    </div>
    <div class="about-details">
        <p>An open event for people to come and contribute to Open Source as part of <a rel="nofollow" href="https://hacktoberfest.digitalocean.com" target="_blank">Hacktoberfest</a></p>
        <p>Hacktoberfest is a month-long celebration of open source software run by <a href="https://digitalocean.com" rel="external" target="_blank">DigitalOcean</a> and <a href="https://dev.to" rel="external" target="_blank">Dev</a>. It happens in the month of October
        every year. <a href="https://thoughtworks.com" rel="external" target="_blank">ThoughtWorks</a> Chennai is hosting the event to promote and support contributing to Open Source!
        The event is organized by a passionate group of open sorcerers and sponsored by <a href="https://thoughtworks.com" rel="external" target="_blank">ThoughtWorks</a>.</p>

        <p>We love feedback! If you have any suggestions or cribs, feel free to fill out our
        <a rel="nofollow" href="https://twchnhacktoberfest.typeform.com/to/VhrFcC" target="_blank"> feedback form</a>.
            Don't worry, its completely anonymous.</p>
    </div>
</section>
