<footer class="footer">
  Sponsored by <a href="https://www.thoughtworks.com" target="_blank" data-event-label="footer-tw-logo"><img alt="ThoughtWorks" src="../img/tw-logo-white.svg" title="ThoughtWorks"></a>
</footer>
