<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://www.thoughtworks.com" target="_blank" data-event-label="header-tw-logo"><img alt="ThoughtWorks" src="../img/tw-logo.svg" title="ThoughtWorks"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" href="#participate">Participate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#agenda">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#all-editions">All Editions</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand d-none d-lg-block" data-event-label="hacktoberfest-logo" href="https://hacktoberfest.digitalocean.com" target="_blank"><img class="h-logo" src="../img/hacktoberfest_tw_logo.png"></a>
  </nav>
</header>
