#hacktoberfest nav {
	font-weight: 700;
	font-size: 14px;
	line-height: 36px;
}

nav.navbar-light .navbar-nav .nav-link {
	color: #221d1f;
	padding-left: 10px;
	padding-right: 10px;
}

#hacktoberfest nav a.nav-link:hover{
	color: #ef5ba1;
}

@media (min-width: 992px) {
	nav.navbar{
		padding-right: 200px;
		padding-left: 100px;
	}

	nav.navbar-light .navbar-nav .nav-link {
		border-bottom: 1px solid #fff;
		box-shadow: inset 0 -4px 0 -1px #fff;
	}

	#hacktoberfest nav a.nav-link:hover {
		border-bottom: 1px solid #ef5ba1;
		box-shadow: inset 0 -4px 0 -1px #ef5ba1;
	}
}

.h-image {
	width: 100%;
}
