.participate {
	margin-top: 24px;
	background-color: #F05CA1;
	padding: 20px 32px;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0;
	display: inline-block;
	font-weight: 700;
	border: none;
}

.participate:hover {
	background-color: #f489bc;
	color: #fff;
	text-decoration: none;
	border: none;
}
